.wrapperMain {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    color: #0053ff;
}

.card {
    margin: 0 auto;
    min-height: 120px;
    width: 100%;
    border: 1px solid #f5f5f5d9;
    border-radius: 5px;
    background-color: #f5f5f5;
    vertical-align: middle;
    padding: 10px;
}

.photo {
    width: 100px;
    height: 100px;
}

p {
    margin: 0;
    text-align: center;
    color: rgb(75, 73, 73);
    font-weight: 600;
}

.load {
    text-align: center;
    margin-top: 30px;
    color: black;
}
