header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.imgTitle {
    object-fit: contain;
    height: 300px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c10303;
    border: 2px solid #c10303;
    padding: 5px 0;
    width: 199px;
}
