.wrapperFooter {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
}

.footerText {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
