header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: 'Poppins';
    height: 50px;
}

header > a {
    color: grey;
    text-decoration: none;
}
